:root {
  font-family: 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  /* line-height: 1.5; */
  /* font-weight: 40000; */
  background-color: #ffffff;
  --green: #65B47B;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* font-weight: bold; */
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.landing-page-container{
  display: flex;
  flex-direction: column;
}

.landing-page-nav-container{
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  width: 90vw;
  height: 77px;
/* top: 16px;
left: 48px;
padding: 0px 0px 16px 0px; */
/* gap: 0px; */
/* justify: space-between; */
/* opacity: 0px; */

}

.green-text{
  color: var(--green);
}

#dia .green-text{
  transition: color 0.1s ease-in-out;
}
#dia:hover{
  color: #a9e6b9;
}

.dia-dev-design-title{
  width: 298px;
  height: 44px;
  font-size: 2em;
  font-weight: bolder;

}

.contact-us-button{
  /* width: 20px; */
  text-align: center;
  color: #FFFFFF;
  background: var(--green);
  height: 45px;
  padding: 16px 24px 16px 24px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.1s ease-in-out;

}

.contact-us-button:hover{
  background-color: #a9e6b9;
}

.landing-page-header-container {
  /* width: 50%; */
  display: flex;
  padding: 0;
  /* justify-content: space-around; */
  /* gap: 45%; */

}


.landing-page-header-content{
  width:60em;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  /* height: 336px; */
  /* width: Hug (700px)px;
  top: 300px;
  left: 48px;
  gap: 32px;
  opacity: 0px; */
  
}

.landing-page-header {
  font-size: 50px;
  text-align: left;
  margin: 0px;
}

.landing-page-header-description {
  margin: 0px;
  height: 4em;
}

.landing-page-header-image-container-container {
  width: 50%;
}

.landing-page-header-image-container img {
  width: 100%;
}

.services-main-header {
  display: flex;
  justify-content: center;
  font-size: 128px;
  margin: 0px;
  font-weight: 100;
}

.services-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.services-header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 5px;
}

.services-wrap-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service-card1,
.service-card2,
.service-card3,
.service-card4 {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-card1 {
  background-color: #EDF3FF;
}

.service-card2 {
  background-color: #FFFAEC;
}

.service-card3 {
  background-color: #F0FFF4;
}

.service-card4 {
  background-color: #FFF5F3;
}

.services-image-container {
  flex: 1;
  text-align: left;
}

.services-image-container img {
  width: 100px;
  height: 100px;
}

.services-info {
  flex: 2;
  text-align: left;
  padding-left: 20px;
}

.services-description {
  font-size: 1rem;
  color: #666;
  text-align: left;
  margin-left: 5px;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}