@import url('/node_modules/@fontsource-variable/inter/wght.css');

@import url('/node_modules/@fontsource-variable/inter/wght.css');



:root {
  font-family: 'Inter Variable', 'sans-serif','system-ui', 'Avenir', 'Helvetica', 'Arial';
  /* line-height: 1.5; */
  background-color: #ffffff;
  --green: #65B47B;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.landing-page-container{
  display: flex;
  flex-direction: column;
}

.landing-page-nav-container{
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  width: 90vw;
  height: 77px;
/* top: 16px;
left: 48px;
padding: 0px 0px 16px 0px; */
/* gap: 0px; */
/* justify: space-between; */
/* opacity: 0px; */

}

.green-text{
  color: var(--green);
}

.green-text #dia {
  transition: color 0.3s ease-in-out;
}
#dia:hover{
  color: #a9e6b9;
}

.dia-dev-design-title{
  width: 298px;
  height: 44px;
  font-size: 2em;
  font-weight: bolder;

}
.contact-us-button{
  width: 179px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: var(--green);
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 8px;
  transition: background-color 0.1s ease-in-out;
  /* line-height: 29.05px; */
  /* vertical-align: middle; */
  
}
.landing-page-nav-container .contact-us-button{
  width: 150px;
  height: 46px;
}

.contact-us-button:hover{
  background-color: #a9e6b9;
}

.landing-page-header-container{
  /* width: 50%; */
  display: flex;
  padding: 0;
  position: relative;
  left: 10% ;
  /* justify-content: space-around; */
  /* gap: 45%; */

}


.landing-page-header-content{
  width:40em;
  /* text-align: justify; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* height: 336px; */
  /* width: Hug (700px)px;
  left: 48px;
  opacity: 0px; */
  position:relative;
  top: 150px;
  left: 50px;
  gap: 25px;
  
}
.landing-page-header-content .contact-us-button{
  width: 150px;
  height: 45px;
}
.landing-page-header{
  font-size: 50px;
  text-align: left;
  margin: 0px;
}

.landing-page-header-description{
  margin: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.landing-page-header-image-container{
  position: relative;
  width: 50%;
  /* top: 193px; */
  left: 1vw;
}

.landing-page-header-image-container img{
  width: 581px;
  height:549.79px;
  
}